{% extends 'base.html.twig' %}

{% block title %}Admin Articles{% endblock %}

{% block body %}
<main id="admin">
    <div class="container">
        <div class="wrapper-editor">

            <div class="block my-4">
                <div class="d-flex justify-content-center">
                    <p class="h5 text-primary createShowP mt-4">Articles</p>
                </div>
            </div>

            <div class="row d-flex justify-content-center modalWrapper">
                <div class="modal fade addNewInputs" id="modalAdd" tabindex="-1" role="dialog"
                    aria-labelledby="modalAdd" aria-hidden="true">
                    <div class="modal-dialog" role="document">
                        <div class="modal-content">
                            <div class="modal-header text-center">
                                <h4 class="modal-title w-100 font-weight-bold text-primary ml-5">Add new form</h4>
                                <button type="button" class="close text-primary" data-dismiss="modal"
                                    aria-label="Close">
                                    <span aria-hidden="true">&times;</span>
                                </button>
                            </div>

                            <div class="modal-body mx-3">
                                <form action="{{ path('article_new') }}" method="post">
                                    {{ include('admin/article_form.html.twig') }}
                                </form>
                            </div>
                        </div>
                    </div>
                </div>

                <div class="text-center">
                    <a href="" class="btn btn-info btn-rounded btn-sm" data-toggle="modal" data-target="#modalAdd">Add<i
                        class="fas fa-plus-square ml-1"></i></a>
                </div>

                {% for article in articles %}
                <div class="modal fade" id="modalDelete{{ article.id }}" tabindex="-1" role="dialog"
                    aria-labelledby="modalDelete" aria-hidden="true">
                    <div class="modal-dialog" role="document">
                        <div class="modal-content">
                            <div class="modal-header text-center">
                                <h4 class="modal-title w-100 font-weight-bold ml-5 text-danger">Supprimer
                                    {{ article.title }}</h4>
                                <button type="button" class="close text-danger" data-dismiss="modal" aria-label="Close">
                                    <span aria-hidden="true">&times;</span>
                                </button>
                            </div>
                            <div class="modal-body mx-3">
                                <p class="text-center h4">Etes-vous sûr de vouloir supprimer l'article
                                    {{ article.title }} ?</p>

                            </div>
                            <div class="modal-footer d-flex justify-content-center deleteButtonsWrapper">
                                <form method="post" action="{{ path('article_delete', {'id': article.id}) }}">
                                    <input type="hidden" name="_method" value="DELETE">
                                    <input type="hidden" name="_token"
                                        value="{{ csrf_token('delete' ~ article.id) }}">
                                    <button class="btn btn-danger btnYesClass">
                                        Yes
                                    </button>
                                </form>
                                <button type="button" class="btn btn-primary btnNoClass" id="btnNo"
                                    data-dismiss="modal">No</button>
                            </div>
                        </div>
                    </div>
                </div>
                {% endfor %}


            </div>

            <table id="dtBasicExample" class="table table-striped table-bordered" cellspacing="0" width="100%">
                <thead>
                    <tr>
                        <th class="th-sm">
                            Image
                        </th>
                        <th class="th-sm">
                            Nom
                        </th>
                        <th class="th-sm">
                            Description
                        </th>
                        <th class="th-sm">
                            Résumé
                        </th>
                        <th class="th-sm">
                            Image de l'auteur
                        </th>
                        <th class="th-sm">
                            Nom de l'auteur
                        </th>
                        <th class="th-sm">
                            Commentaire de l'auteur 
                        </th>
                        <th class="th-sm">
                            Edit
                        </th>
                        <th class="th-sm">
                            Delete
                        </th>
                    </tr>
                </thead>
                <tbody>
                    {% for article in articles %}
                    <tr>
                        <td>
                            <img src="{{ article.image }}" width="50" alt="">
                        </td>
                        <td>{{ article.title }}</td>
                        <td>
                            {% if article.description|length > 20 %}
                                {{ article.description[:20] }}...
                            {% else %}
                                {{ article.description }}
                            {% endif %}
                        </td>
                        <td>
                            {% if article.resum|length > 20 %}
                                {{ article.resum[:20] }}...
                            {% else %}
                                {{ article.resum }}
                            {% endif %}
                        </td>
                        <td><img src="{{ article.authorImage }}" width="50" alt=""></td>
                        <td>{{ article.author }}</td>
                        <td>{{ article.autherComment }}</td>
                        <td>
                            <div class="text-center buttonEditWrapper">
                                <a href="{{ path('article_edit', {'id': article.id}) }}" class="btn btn-info btn-rounded btn-sm buttonEdit">
                                    Edit
                                    <i class="fas fa-pencil-alt ml-1"></i>
                                </a>
                            </div>
                        </td>
                        <td>
                            <div class="text-center">
                                <button class="btn btn-danger btn-sm btn-rounded buttonDelete" data-toggle="modal"
                                    data-target="#modalDelete{{article.id}}">
                                    Delete
                                    <i class="fas fa-times ml-1"></i>
                                </button>
                            </div>
                        </td>
                    </tr>
                    {% endfor %}
                </tbody>
            </table>
        </div>
    </div>
</main>
{% endblock %}

{% block javascripts %}
<script src="https://cdn.datatables.net/1.10.21/js/jquery.dataTables.min.js"></script>
<script src="https://cdn.datatables.net/1.10.21/js/dataTables.bootstrap4.min.js"></script>
<script>
    $(document).ready( function () {
        $('#dtBasicExample').DataTable();
    });
</script>
{% endblock %}