{{ form_start(form) }}
    <div class="md-form mb-5">
        {{ form_row(form.title, {'attr': {'class': 'form-control validate'}}) }}
    </div>
    <div class="md-form mb-5">
        {{ form_row(form.description, {'attr': {'class': 'form-control md-textarea', 'id': 'textarea-char-counter', 'length': '500'}}) }}
    </div>
    <div class="md-form mb-5">
        {{ form_row(form.image, {'attr': {'class': 'form-control validate'}}) }}
    </div>
    <div class="md-form mb-5">
        {{ form_row(form.author, {'attr': {'class': 'form-control md-textarea'}}) }}
    </div>
    <div class="md-form mb-5">
        {{ form_row(form.auther_comment, {'attr': {'class': 'form-control md-textarea', 'id': 'textarea-char-counter', 'length': '500'}}) }}
    </div>
    <div class="md-form mb-5">
        {{ form_row(form.author_image, {'attr': {'class': 'form-control md-textarea'}}) }}
    </div>
    <div class="md-form mb-5">
        {{ form_row(form.resum, {'attr': {'class': 'form-control md-textarea'}}) }}
    </div>
    {{ form_widget(form) }}
    <div class="modal-footer d-flex justify-content-center buttonAddFormWrapper">
        <button type="submit" class="{{ button_class|default('btn btn-outline-primary btn-block buttonAdd') }}">
            {{ button_label|default('Add') }}
            <i class="fas fa-paper-plane-o ml-1"></i>
        </button>
    </div>
{{ form_end(form) }}
