{% extends 'base.html.twig' %}

{% block title %}Admin{% endblock %}

{% block body %}
<main class="mt-5 pt-5">
    <div class="container">
        
        <!--Section: Cards-->
        <section class="pt-4">

            <!-- Heading & Description -->
            <div class="wow fadeIn">
                <!--Section heading-->
                <h2 class="h1 text-center mb-5">Admin</h2>
                <!--Section description-->
                <p class="text-center mb-5">
                    D'ici vous pouvez voir, ajouter, modiffier ou supprimer vos categories, produits ou articles.
                </p>
            </div>
            <!-- Heading & Description -->

            <!--Grid row-->
            <div class="row wow fadeIn">

                <!--Grid column-->
                <div class="col-lg-5 col-xl-4 mb-4">
                    <!--Featured image-->
                    <div class="view overlay rounded z-depth-1">
                        <img src="https://firstsiteguide.com/wp-content/uploads/2017/09/wordpress-categories-640x400.png" 
                            class="img-fluid" alt="">
                        <a href="{{ path('admin_categories') }}">
                            <div class="mask rgba-white-slight"></div>
                        </a>
                    </div>
                </div>
                <!--Grid column-->

                <!--Grid column-->
                <div class="col-lg-7 col-xl-7 ml-xl-4 mb-4">
                    <h3 class="mb-3 font-weight-bold dark-grey-text">
                        <strong>Categories</strong>
                    </h3>
                    <p class="grey-text">
                        Voir les categories disponibles, les modiffier, les supprimer ou alors bien en ajouter d'autre.
                        <br>
                        Vous pouver tout géré d'ici
                    </p>
                    <a href="{{ path('admin_categories') }}" class="btn btn-primary btn-md">
                        Continuer
                        <i class="fas fa-play ml-2"></i>
                    </a>
                </div>
                <!--Grid column-->

            </div>
            <!--Grid row-->

            <hr class="mb-5">

            <!--Grid row-->
            <div class="row mt-3 wow fadeIn">

                <!--Grid column-->
                <div class="col-lg-5 col-xl-4 mb-4">
                    <!--Featured image-->
                    <div class="view overlay rounded z-depth-1">
                        <img src="https://www.je-suis-papa.com/wp-content/uploads/2019/06/top-marques-vetement-enfant.png"
                            class="img-fluid" alt="">
                        <a href="{{ path('admin_produits') }}">
                            <div class="mask rgba-white-slight"></div>
                        </a>
                    </div>
                </div>
                <!--Grid column-->

                <!--Grid column-->
                <div class="col-lg-7 col-xl-7 ml-xl-4 mb-4">
                    <h3 class="mb-3 font-weight-bold dark-grey-text">
                        <strong>Produits</strong>
                    </h3>
                    <p class="grey-text">
                        Voir les produits disponibles, les modiffier, les supprimer ou alors bien en ajouter d'autre.
                        <br>
                        Vous pouver tout géré d'ici
                    </p>
                    <a href="{{ path('admin_produits') }}" class="btn btn-primary btn-md">
                        Continuer
                        <i class="fas fa-play ml-2"></i>
                    </a>
                </div>
                <!--Grid column-->

            </div>
            <!--Grid row-->

            <hr class="mb-5">

            <!--Grid row-->
            <div class="row wow fadeIn">

                <!--Grid column-->
                <div class="col-lg-5 col-xl-4 mb-4">
                    <!--Featured image-->
                    <div class="view overlay rounded z-depth-1">
                        <img src="https://angouaolivier-notaire.com/wp-content/uploads/2015/05/menu-articles.jpg" 
                            class="img-fluid" alt="">
                        <a href="{{ path('admin_articles') }}">
                            <div class="mask rgba-white-slight"></div>
                        </a>
                    </div>
                </div>
                <!--Grid column-->

                <!--Grid column-->
                <div class="col-lg-7 col-xl-7 ml-xl-4 mb-4">
                    <h3 class="mb-3 font-weight-bold dark-grey-text">
                        <strong>Articles</strong>
                    </h3>
                    <p class="grey-text">
                        Voir les articles disponibles, les modiffier, les supprimer ou alors bien en ajouter d'autre.
                        <br>
                        Vous pouver tout géré d'ici
                    </p>
                    <a href="{{ path('admin_articles') }}" class="btn btn-primary btn-md">Continuer
                        <i class="fas fa-play ml-2"></i>
                    </a>
                </div>
                <!--Grid column-->

            </div>
            <!--Grid row-->

            <hr class="mb-5">

            <!--Grid row-->
            <div class="row wow fadeIn">

                <!--Grid column-->
                <div class="col-lg-5 col-xl-4 mb-4">
                    <!--Featured image-->
                    <div class="view overlay rounded z-depth-1">
                        <img src="https://img.phonandroid.com/2016/08/google-contacts.jpg" 
                            class="img-fluid" alt="">
                        <a href="{{ path('admin_contacts') }}">
                            <div class="mask rgba-white-slight"></div>
                        </a>
                    </div>
                </div>
                <!--Grid column-->

                <!--Grid column-->
                <div class="col-lg-7 col-xl-7 ml-xl-4 mb-4">
                    <h3 class="mb-3 font-weight-bold dark-grey-text">
                        <strong>Contacts</strong>
                    </h3>
                    <p class="grey-text">
                        Voir les contacts disponibles, les modiffier, les supprimer ou alors bien en ajouter d'autre.
                        <br>
                        Vous pouver tout géré d'ici
                    </p>
                    <a href="{{ path('admin_contacts') }}" class="btn btn-primary btn-md">Continuer
                        <i class="fas fa-play ml-2"></i>
                    </a>
                </div>
                <!--Grid column-->

            </div>
            <!--Grid row-->

            <hr class="mb-5">

        </section>
        <!--Section: Cards-->

    </div>
</main>
<!--Main layout-->
{% endblock %}